@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Ubuntu";
        src: url("../public/fonts/Ubuntu-Regular.ttf");
        font-display: swap;
    }
    @font-face {
        font-family: "Roboto";
        src: url("../public/fonts/Roboto-Regular.ttf");
        font-display: swap;
    }
    body{
        @apply text-hero-black
        dark:bg-dark-black
        dark:text-white-dark
    }
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
