@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Ubuntu";
        src: url("../public/fonts/Ubuntu-Regular.ttf");
        font-display: swap;
    }
    @font-face {
        font-family: "Roboto";
        src: url("../public/fonts/Roboto-Regular.ttf");
        font-display: swap;
    }
    body{
        @apply text-hero-black
        dark:bg-dark-black
        dark:text-white-dark
    }
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

html {
  scrollbar-gutter: stable;
  overflow-y: auto;
}

.rounded-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.rounded-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.rounded-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}
.rounded-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}
